@import './animations.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

/* Custom Profile Header Styles */
@media (max-width: 640px) {
  .profile-banner {
    height: 240px;
  }
  
  .profile-picture {
    margin-top: -64px;
    margin-bottom: 1rem;
  }
  
  .profile-info {
    text-align: center;
    padding: 0 1rem;
  }
}